body, html{
	margin: 0;
	padding: 0;
	background-color: black;
	cursor:none;
	font-family: Verdana;
}

#content  {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.load{
	color:#999;
	position: absolute;
	z-index: 99999;
	text-align: center;
	top:50%;
	width: 100%;
}